@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterStepTwo</title>
</head>
<body>
    <div>
        <span>Please visit your email and confirm your account</span>
    </div>
</body>
</html>
