@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterStepTwo</title>
</head>
<body>
    <div style="border:solid 1px #ff6a00; background-color:#ffc; width:100%; height:50px; font-size:18px; padding-left:20px; line-height:50px; font-family:Verdana sans-serif Arial">
        <span>A Confirmation email has been sent to your acount, Please kindly visit your email and confirm your account...</span>
    </div>
</body>
</html>
