@model LRB.Lib.Domain.Party

@{
    ViewBag.Title = "ContactInformation";
    //Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>ContactInformation</h2>
@Html.Partial("partials/_PartyPartial", Model)