@model LRB.Lib.Domain.Property

@{
    ViewBag.Title = "PropertyInformation";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>PropertyInformation</h2>
@Html.Partial("partials/_PropertyPartial", Model)