@model IEnumerable<LRB.Lib.Domain.Document>

@{
    ViewBag.Title = "RequiredDocuments";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/bootstrap-image-gallery.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~/Content/jquery.fileupload.css">
    <link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css">
}
<div class="col-md-8">
    <div role="form" ng-controller="UploadCtrl">
        <form role="form" class="well">
            <div class="form-group">
                <label for="title">Document Title</label>
                <input type="email" class="form-control" id="title" placeholder="please enter a title ">
            </div>
            <div class="form-group">
                <label for="description">Password</label>
                <input type="password" class="form-control" id="description" placeholder="description">
            </div>
            @Html.Partial("_uploader")
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div class="col-md-4" style="background-color: #ff6600">
    <h4 style="color: white">Uploaded Documents</h4>
    <ul class="list-group" ng-repeat="doc in docs">
        <li class="list-group-item">
            <div>
                <span class="badge">{{doc.extension}}</span>
                <span class="close" style="margin-left: 3px;">&times;</span>
            </div>
            {{doc.title}}
        </li>
    </ul>
</div>

@section Scripts {
    <script src="~/Scripts/angular.min.js"></script>
}
