<aside class="col-md-3 bs-docs-sidebar hidden-phone hidden-tablet" >                   
    <ul class="nav nav-list bs-docs-sidenav affix" id="navbar">
        <li class="active well"><a>Application Sections</a></li>
        <li><a href="#">Step 1: <i class="icon-chevron-right"></i>Terms and Conditions</a></li>
        <li><a href="#">Step 2: <i class="icon-chevron-right"></i>Personal Information</a></li>
        <li><a href="#">Step 3: <i class="icon-chevron-right"></i>Property Information</a></li>
        <li><a href="#">Step 4: <i class="icon-chevron-right"></i>Application Summary</a></li>
        <li>
            <div class="well">
            </div>
        </li>
    </ul>
</aside>