<div class="modal fade" id="titlesearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">E-Archive Title Search</h4>

            </div>
            <div class="modal-body">
                <p class="warning">Please Select Search Criteria</p>
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#home" data-toggle="tab">PRK Search</a></li>
                    <li><a href="#profile" data-toggle="tab">Location Search</a></li>
                    <li><a href="#messages" data-toggle="tab">Name Search</a></li>
                    <li><a href="#settings" data-toggle="tab">Organization Search</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <br />
                        <div >
                            <div class="form-group">
                                <label for="prkNo">Public Resource Key(PRK) Number</label>
                                <input type="text" class="form-control input-md" id="prkNo" placeholder="">
                            </div>
                            <button  onclick="SearchByPRKNumber()" class="btn btn-default pull-right">Submit</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile">
                        <br />
                        <div role="form" >
                            <div class="form-group">
                                <label for="town">Town</label>
                                <input type="text" class="form-control" id="town" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="lga">Local Government Area</label>
                                <input type="text" class="form-control" id="lga" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="street">Street Address</label>
                                <input type="text" class="form-control" id="street" placeholder="">
                            </div>
                            <button  onclick="SearchByLocation()" class="btn btn-default pull-right">Submit</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="messages">
                        <br />
                        <div role="form" >
                            <div class="form-group">
                                <label for="sName">Surname</label>
                                <input type="text" class="form-control" id="sName" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="fName">Firstname</label>
                                <input type="text" class="form-control" id="fName" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="mName">Middle Name</label>
                                <input type="text" class="form-control" id="mName" placeholder="">
                            </div>
                            <button onclick="SearchByName()" class="btn btn-default pull-right">Submit</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings">
                        <br />
                        <div role="form" >
                            <div class="form-group">
                                <label for="org">Organization Name</label>
                                <input type="text" class="form-control" id="org" placeholder="">
                            </div>
                            <button onclick="SearchByOrganisation()" class="btn btn-default pull-right">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
