<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>publish\LRBMvc.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>LRBMvc_Bleeding</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LandTitles" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Repository.TitlesModel.csdl|res://*/Repository.TitlesModel.ssdl|res://*/Repository.TitlesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress2;initial catalog=LandTitles;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LRB.Legacy.Repository.LTContext, LRB.Legacy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS2;Initial Catalog=aspnet-LRBMvc;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimpleSecurity.Repositories.SecurityContext, SimpleSecurity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LandsDBContext" Order="3" Enabled="True">
          <Destination Path="Data Source=.\SQLEXPRESS2;Initial Catalog=LandsDB;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LRB.Lib.Repositories.LandsContext, LRBLib" MigrationConfiguration="LRB.Migrations.Configuration, LRBLib" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS2;Initial Catalog=aspnet-LRBMvc;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LandsDBContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS2;Initial Catalog=LandsDB;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LandTitles-Web.config Connection String">
      <ParameterValue>metadata=res://*/Repository.TitlesModel.csdl|res://*/Repository.TitlesModel.ssdl|res://*/Repository.TitlesModel.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Repository.TitlesModel.csdl|res://*/Repository.TitlesModel.ssdl|res://*/Repository.TitlesModel.msl;provider=System.Data.SqlClient;provider connection string="data source=.\sqlexpress2;initial catalog=LandTitles;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>