@{
    ViewBag.Title = "About";
}
<div class="top_box">
</div>
<!--top_box-->
<div class="bottom_box">
    <div style="width: auto; margin: 10px 20px; text-align: center;">
        <h2 class="heading">About the Land Records Bureau</h2>
        <!--<img src="img/gov.gif" style="float: left;"/>-->
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing a transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>
    </div>
    <ul class="feature">
        <li>
            <a>
                <img src="">
            </a>
        </li>
        <li>
            <a>
                <img src="">
            </a>
        </li>
        <li>
            <a>
                <img src="">
            </a>
        </li>
    </ul>
    <!--feature-->
</div>
<!--bottom_box-->
