@{
    ViewBag.Title = "About";
}
<div class="top_box">
</div>
<!--top_box-->
<div class="bottom_box">
    <div style="width: auto; margin: 10px 20px; text-align: center;">
        <h2 class="heading">About the Land Records Bureau</h2>
        <!--<img src="img/gov.gif" style="float: left;"/>-->
        @*<p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing a transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>*@
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">About Us
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p style="text-align: justify">
                        Ondo State Land Records Bureau is the government department commissioned in 2012 to register the ownership of lands and property in Ondo State
                      covering all the 18 Local Government Areas in the State. The Bureau keeps and maintains the Land Register, where more than <strong>40 Thousand Titles </strong>
                        – the evidence of ownership – are documented. Once land or property is entered in the register we record any ownership changes, mortgages or leases that affect it.
                        The world-class electronic system provides accessibility to Ondo State land records from any online location in the world.  Our goal is to put the customer, 
                       quality and innovation at the heart of land registration services..
                    </p>
                    <p style="text-align: justify">
                        Prior to the creation of Ondo State from the old western state in 1976, the land registry transaction was administered by the Old Western
                         State land records. After the creation of the state, the activities were handed over to the Akure land registry. With the provisions of the Land instrument registration 
                        CAP 54 of the laws of Ondo State 1978 the registry was organized and placed under the department of land services of the ministry of lands and housing.
                    </p>
                    <p style="text-align: justify">
                        With the need to move from the existing paper-based method of land registry to digitized way of land registry, the Bureau was commissioned to 
                        enable registered users to conduct secure electronic title and survey transactions in real time, automating and speeding up traditional (and sometimes prolonged and complex) 
                        manual processes.  The Land Records Bureau would modernize the way it records and manages land ownership records. This system would guarantee to the owners of every converted property 
                        that they are actually the owners.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Mission and Vision
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p><strong>•	Mission</strong></p>
                    <p style="text-align: justify">
                        To eliminate obstacles in the acquisition of land title and fraud in transactions involving land, by providing superior customer service through a transparent, streamlined, and expedited process in the application, issuance, 
                        title search, and overall management of all land related matters.
                    </p>
                    <p><strong>•	Vision</strong></p>
                    <p style="text-align: justify">To be the reference point for best-in-class Land Records Management Service in Nigeria and beyond</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-dafault">
        <div class="panel-heading">
            <a  data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Departments and Services
            </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p style="text-align: justify">The bureau is made up of the following Departments: Land Services, Deeds & Planning, Survey & GIS and Finance & Administration </p>
                <ol>
                    <li>
                        <p><strong>Deeds Department</strong></p>
                        <p style="text-align: justify">
                            The Deeds department is saddled with the responsibility of issuing title certificate for private owned land. Deed Registry is a section under the deeds department. 
                                It deals with the section of all completed deeds or instrument and grants upon request certified true copy of registered instruments. It conducts searches to reveal the status of registered instruments for the public.
                        </p>
                    </li>
                    <li>
                        <p><strong>Land Services Department</strong></p>
                        <p>The land services department has the following sections:</p>


                        <p>•	Valuation and Housing: The section is in charge of all valuation requests from the ministry department and government agencies. It manages rural housing estates and government building within and outside the state.</p>


                        <p>•	Acquisition and Compensation: The section deals with Valuation for compulsory acquisitions and purchases in the state. It also ideals with all derequisition matters and Processes compensation claims in respect of federal state and local government.</p>


                        <p>•	Development And Management: The section deals with the management of all government estates throughout the state. It deals with the provision of infrastructural facilities within the estates. It processes applications for direct grants on residential, commercial and industrial estates.</p>


                        <p>
                            •	Planning Research And Statistics: The section deals with initiation of policies on land use and management matters. They are involved in compilation of information for computerization purposes. They also conduct research into modern land management techniques and ICT deployment in land matters.
                                    They also help facilitate stakeholders'
                             meetings and see to the capacity building for staff.
                        </p>

                    </li>
                    <li>
                        <p><strong>Survey & GIS Department</strong></p>
                        <p style="text-align: justify">
                            The Survey & GIS department develops, maintains and
                        distributes the State’s primary geographic information including the Ondo State’s Coordinate Reference System, the Ondo State Address File, the Ondo State Property Records Database, and the Ondo State Aerial Photography Collection.
                        </p>
                    </li>

                     <li>
                        <p><strong> Finance & Administration Department</strong></p>
                        <p style="text-align: justify">
                          The Finance & Administration department is responsible for the financial and administrative management of the bureau.
                        </p>
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="panel panel-dafault">
        <div class="panel-heading">
            <a  data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Land Records Bureau Benefits
            </a>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Some benefits of the Land Records Bureau are:</p>

                <strong>Saves time and hassle</strong>
                <p style="text-align: justify">
                    Access to the land Records Bureau digital records eliminates time spent waiting to search existing paper Records. Converted records are easy to read, 
                        reducing the time and hassle of deciphering old handwriting or faded, worn documents.
                </p>

                <strong>Improvement in the quality, consistency and accuracy of data</strong>
                <p style="text-align: justify">
                    Land Records Bureau provides better customer service and more reliable accurate documentation. The quality of information available to users has improved, with the transition from a paper based to digitized based record keeping. Quality check 
                        and Quality Assurance have resulted in more accurate records being held in the bureau.
                </p>

                <strong>Enhanced security</strong>
                <p style="text-align: justify">The bureau has put in place technical and security measures to safeguard against threats to the integrity of the titles register and digital cadastre. The measures ensure that all the title records and survey plans are securely backed up on a regular basis.</p>

                <strong>Easy to use</strong>
                <p style="text-align: justify">The Land Records Bureau website has been designed in a way to make it user friendly and to meet the needs of the public. The FAQ section has important information and guide to help users with using and navigating the site.</p>

                <strong>Ease of Access to Records</strong>
                <p style="text-align: justify">As 98 percent of records are accessed from electronic land information held in Ondo State LRB, users are able to search and locate records outside their region or area and bulk search more easily.</p>

                <strong>Real time updating of Records</strong>
                <p style="text-align: justify">Survey Plans and Title Document are processed directly into LRB website. Users have the opportunity to check and see a current status of their application. That means whenever users log on, they receive the most up-to-date information available.</p>

            </div>
        </div>
    </div>
    <!--feature-->
</div>
<!--bottom_box-->
