@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <p class="lead">You can reach us in our various area offices</p>
    <div class="col-md-6">
        <h3 class="page-header">Main Office</h3>
        <h5>Land Records Bureau</h5>
        <p>Land Records Bureau, <br />
            Governor’s office, Alagbaka Akure<br />
            <a href="akureareaoffice@lrb.on.gov">Email: akureareaoffice@lrb.on.gov</a>
        </p>
    </div>
    <div class="col-md-6">
        <h3 class="page-header">Anexxe Office</h3>
        <h5>Lands and Housing Ministry</h5>
        <p>Land Records Bureau, <br />
            MInistry of Lands and Housing<br />
            <a href="akureareaoffice@lrb.on.gov">Email: akureareaoffice@lrb.on.gov</a>
        </p>
    </div>
</div>
