@{
    ViewBag.Title = "FAQ";
}
<div class="top_box">
</div>
<!--top_box-->
<div class="bottom_box">
    <h2 class="heading" style="margin-left: 10px;">Frequently Asked Questions (FAQ)</h2>
    <div class="side_box">

        <ol>
            <li><a href="#">I have changed my name. What should I do to change it on my title?</a></li>
            <li><a href="#">How do I add my partners name to my property title?</a></li>
            <li><a href="#">How do I change ownership of title?</a></li>
            <li><a href="#">Do I require my spouse’s consent in order to dispose of an interest in my property?</a></li>
            <li><a href="#">If the holder of a C. of O. dies without a Will. What can be done?</a></li>
            <li><a href="#">What is Certified True Copy?</a></li>
            <li><a href="#">Do I obtain a certified true copy of a C. of O.?</a></li>
            <li><a href="#">What is a caveat?</a></li>
            <li><a href="#">What is Power of Attorney?</a></li>
            <li><a href="#">How do I go about subdividing my land?</a></li>
        </ol>
    </div>
    <!--side_box-->
    <div class="main_box faq">
        <h2>I have changed my name. What should I do to change it on my title?</h2>
        <p>
            If you are a holder of a C of O you will need to obtain and submit an application form for surrender of your title which will be accompanied with the proof of change of name. When the application is accepted you will be required to pro-duce a new Survey Plan reflecting the new name.
        </p>
        <h2>How do I add my partners name to my property title?</h2>
        <p>
            If you already hold a C of O you will need to obtain an application form for sur-render of your title. Then you and your partner will apply for the re-issuance of a new C. of O. Please note that your partner will be required to submit the neces-sary document for application of C of O.
        </p>
        <h2>How do I change ownership of title?</h2>
        <p>Apply for governor’s consent to assign.</p>
        <h2>Do I require my spouse’s consent in order to dispose of an interest in my property?</h2>
        <p>Your spouse’s consent is only required if you are joint owners of the title.</p>
        <h2>If the holder of a C. of O. dies without a Will. What can be done?</h2>
        <p>
            The heir(s) to or the successor(s) in title should apply to the Administrator Gen-eral of  the State for a Letter of Administration
                        <br />
            The devolution of title should be done through the family using the customary laws operating in the area where the decease comes from.
        </p>
        <h2>What is Certified True Copy?</h2>
        <p>
            It is the exact copy or duplicate of a document which bears the seal or stamp of the government office issued in place of the original copy when it is applied for.
        </p>
        <h2>Do I obtain a certified true copy of a C. of O.?</h2>
        <p>Apply to the Chief Register of Deeds Ondo State Land Records Bureau.</p>
        <h2>What is a caveat?</h2>
        <p>
            It is something said or written as a warning, caution or qualification. It can also be an official request to a court not to proceed with a case without notice to the person making the request.
        </p>
        <h2>What is Power of Attorney?</h2>
        <p>This is the legal authority to act for another person in legal and business matters.</p>
        <h2>How do I go about subdividing my land?</h2>
        <p>
            Apply for consent to subdivide.
                        <br />

            •	Akoko North-East headquarters in Ikare<br />
            •	Akoko North-West<br />
            •	Akoko South-East<br />
            •	Akoko South-West<br />
            •	Akure North<br />
            •	Akure South<br />
            •	Ese Odo<br />
            •	Idanre<br />
            •	Ifedore<br />
            •	Ilaje<br />
            •	Ile Oluji/Okeigbo<br />
            •	Irele<br />
            •	Odigbo<br />
            •	Okitipupa<br />
            •	Ondo East<br />
            •	Ondo West<br />
            •	Ose<br />
            •	Owo<br />
        </p>
    </div><!--main_box-->

</div>
<!--bottom_box-->

