@{
    ViewBag.Title = "Home";
}
<div class="top_box">
    <div class="action_box_third">

        <h2>Create Account or Login</h2>
        <p>
            Sign up to become a registered user. Only registered members will have 
									access to application forms.
							
        </p>
        <a href="/LandApplication" class="link_button">Sign Up
        </a>
        <a href="/LandApplication">
            <img class="icon" src="img/sign-up.png" />
        </a>
    </div>
    <!--action_box_third-->
    <div class="action_box_third">
        <h2>Title Search</h2>
        <p>
            Search for registered Land and Cadastral<br />
            with the ODSG by Titles,<br />
            Name or Location.
							
        </p>
        <a href="#titlesearch" data-toggle="modal" class="link_button" data-target="#titlesearch">Search Now
        </a>
        <a href="#titlesearch" data-toggle="modal" data-target="#titlesearch">
            <img class="icon" src="img/analysis.png" />
        </a>
    </div>
    <!--action_box_third-->
    <div class="action_box_third">
        <h2>Application Forms</h2>
        <p>
            You can apply for allocation of land, track<br />
            your application and get<br />
            your C of O here.
							
        </p>
        <a href="/LandApplication" class="link_button">Apply Now
        </a>
        <a href="/LandApplication" class="link_button">
            <img class="icon" src="img/application-form.png" />
        </a>
    </div>
    <!--action_box_third-->
</div>
<!--top_box-->
<div class="bottom_box">
    <div class="main_box">
        <h2 style="padding-right: 10px;">Welcome to the Land Records Bureau</h2>
        <img src="img/gov.gif" style="float: left; height: 150px;" />
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
            The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
            the value of our land assets, about 15,500 sq km, by providing a transparent, 
            secure, affordable and customer-friendly land management services for both the 
            public and the private sector. To this end, we are building a trustworthy platform, 
            for both land owners and buyers, which enhances title credibility by ensuring that all 
            land related transactions could be conducted securely and in a fraud-free environement. 
 			<br />
            We welcome your comments and suggestions on how we can serve you better. Thank you!
        </p>
    </div>
    <div class="main_box">
        <h2>Systematic Land Registration Commences in Ondo State</h2>
        <p>
            This is a special land registration project in collaboration between the Ondo State government and the Presidential Technical Committee on Land Reform (PTCLR), Adam Smith International, UKDFID/ World Bank funded project GEMS3, to provide land owners Title at an affordable rate.
The goal of the SLTR is to raise the supply of securely titled land in pilot States by regularizing and bringing a substantial number of informally held properties within the realm of the land rights’ statutory system, thus offering right-holders – in particular the women and the poor - with a higher degree of protection and enforcement.
        </p>
    </div>
    <div class="main_box">
        <h2>Olusegun Mimiko Embraces Aggressive Capitalism</h2>
        <p>
            The Governor of Ondo State, Dr Olusegun Mimiko unveiled the mystery of capitalism as part of his Urban Renewal Strategies. Governor Olusegun Mimiko Commissioned the State’s Digitalized Land Record Bureau on Tuesday, July 10, 2012 at the State Secretariat for archival presentation of records of land in the state.


At the commissioning of this mega stride in innovative governance , Dr. Olusegun Mimiko  laid emphasis on the economic  value land has, which makes it serve beyond its  farming state to an economic valuable item for exchange rate, but only when it has been formally entitled and a Certificate Of Ownership given to the effect. 

        </p>
    </div>
    <!--main_box-->
    <div class="side_box">
        <h2>Important Announcements!</h2>
        <ul>
            <li><a href="#"><strong>Land Reform will Empower Nigerians - Falae</strong><br />
                The FORMER Secretary to the Government of the Federation (SGF), Chief Olu Falae, says the Systematic Land Titling and Registration (SLTR) embarked upon by the Federal Government will resolve land disputes across the country.</a></li>
            <li><a href="#"><strong>Systematic Land Registration commences in Ondo state</strong><br />
                This is a special land registration project in collaboration between the Ondo State government and the Presidential Technical Committee on Land Reform (PTCLR), Adam Smith International, UKDFID/ World Bank funded project GEMS3, to provide land owners Title at an affordable rate.</a></li>
        </ul>
    </div>
    <!--side_box-->
    <ul class="feature">
        <li>
            <a>
                <img src="">
            </a>
        </li>
        <li>
            <a>
                <img src="">
            </a>
        </li>
        <li>
            <a>
                <img src="">
            </a>
        </li>
    </ul>
    <!--feature-->
</div>
<!--bottom_box-->
