@{
    ViewBag.Title = "Home";
}
<div class="top_box">
    <div class="action_box_third">
        <a href="/LandApplication">
            <h2>Create Account or Login</h2>
            <p>
                Sign up to become a registerd user. Only registered members will have 
									access to application forms.
							
            </p>
            Sign Up
							
            <img class="icon" src="img/sign-up.png" />
        </a>
    </div>
    <!--action_box_third-->
    <div class="action_box_third">
        <a href="#titlesearch" data-toggle="modal" data-target="#titlesearch">
            <h2>Title Search</h2>
            <p>
                Search for registered Land and Cadastral<br />
                with the ODSG by Titles,<br />
                Name or Location.
							
            </p>
            Search Now
							
            <img class="icon" src="img/analysis.png" />
        </a>
    </div>
    <!--action_box_third-->
    <div class="action_box_third">
        <a href="/LandApplication">
            <h2>Application Forms</h2>
            <p>
                You can apply for allocation of land, track<br />
                your application and get<br />
                your C of O here.
							
            </p>
            Apply Now
							
            <img class="icon" src="img/application-form.png" />
        </a>
    </div>
    <!--action_box_third-->
</div>
<!--top_box-->
<div class="bottom_box">
    <div class="main_box">
        <h2>Welcome to Land Records Bureau</h2>
        <img src="img/gov.gif" style="float: left;" />
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing a transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>
    </div>
    <!--main_box-->
    <div class="side_box">
        <h2>Important Announcements!</h2>
        <ul>
            <li><a href="#">Any important land issue can be transfixed here. This box could be useful for letting the public know of new policy developments and etcetera.</a></li>
            <li><a href="#">Lorem Ipsum is latin. Whoever decides to use Latin as a placeholder is a nerd of epic proportions.</a></li>
            <li><a href="#">Lorem Ipsum is latin. Whoever decides to use Latin as a placeholder is a nerd of epic proportions.</a></li>
            <li><a href="#">Lorem Ipsum is latin. Whoever decides to use Latin as a placeholder is a nerd of epic proportions.</a></li>
            <li><a href="#">Lorem Ipsum is latin. Whoever decides to use Latin as a placeholder is a nerd of epic proportions.</a></li>
        </ul>
    </div>
    <!--side_box-->
    <ul class="feature">
        <li>
            <a>
                <img src="">
            </a>
        </li>
        <li>
            <a>
                <img src="">
            </a>
        </li>
        <li>
            <a>
                <img src="">
            </a>
        </li>
    </ul>
    <!--feature-->
</div>
<!--bottom_box-->
