@{
    ViewBag.Title = "Requirements";
}

<h2>Requirements</h2>
<ul>
    <li>Original Survey Plans</li>
    <li>Evidence of Ownership</li>
    <li>Recent Passport Photograph</li>
    <li>Evidence of Payment of three Years Development Levy</li>
    <li>Certificate of Incorporation (if Applicant is a Corporate Body or an organization)</li>
    <li>Fire service report (if this application is for a filling station)</li>
    <li>Police report (if Land is for a filling station)</li>
    <li>Feasibility Report (if land is above 5,000 square meters and it is for residential, commercial or industrial purpose)</li>
</ul>