@{
    ViewBag.Title = "Services";
}

				

<div class="top_box">
</div>
<!--top_box-->
<div class="bottom_box">
    <h2 class="heading" style="margin-left: 10px;">LRB Services</h2>
    <div class="side_box">

        <ol>
            <li><a href="#">Land Administration</a></li>
            <li><a href="#">Mortgage</a></li>
            <li><a href="#">Foreign Investment</a></li>
            <li><a href="#">Public Display Maps</a></li>
            <li><a href="#">Land Leasing</a></li>
        </ol>
    </div>
    <!--side_box-->
    <div class="main_box">
        <h2 style="text-align: left; margin-left: 0px;">Land Administration</h2>
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>
        <h2 style="text-align: left; margin-left: 0px;">Mortgage</h2>
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>
        <h2 style="text-align: left; margin-left: 0px;">Foreign investment</h2>
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>
        <h2 style="text-align: left; margin-left: 0px;">Public Display Maps</h2>
        <p style="text-align: justify">
            <strong>Welcome</strong>
            to the official website of the Ondo State Land Recods Bureau. 
                            	The Bureau was commissioned on July 10, 2012 with a simple mandate: to enhance 
                            	the value of our land assets, about 15,500 sq km, by providing transparent, 
                            	secure, affordable and customer-friendly land management services for both the 
                            	public and the private sector. To this end, we are building a trustworthy platform, 
                            	for both land owners and buyers, which enhances title credibility by ensuring that all 
                            	land related transactions could be conducted securely and in a fraud-free environement. 
 						
        </p>
    </div>
    <!--main_box-->

</div>
<!--bottom_box-->
